<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial sc=1.0">
    <title>Document</title>
</head>
<body>
    <h2>This is about HTML page.....</h2>

    <form action="/fact/" method="post">
        {% csrf_token %}
        <input type="number" name="Number"/>
        <!-- <input type="text" name="password"/> -->
        <input type="submit"/>
    </form>
{% if result %}
    <h2>factorial of the number is {{result}}</h2>
{% endif %}
</body>
</html>

